*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16xpx;
}
body{
    background-color: rgb(173, 179, 255);
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.459);
}

header h1{
    padding-left: 5px;
}

a {
    font-size: 15px;
    color: rgba(58, 10, 122, 0.575);
    text-decoration:none;
    -webkit-text-stroke: 1px;
}

a:hover{
    text-decoration: underline;
    color: rgba(153, 75, 255, 0.575);
}

.bloco1{
    padding: 5px;
    align-items: center;
}

.bloco1 h2{
    color: rgb(59, 10, 122);
}

.lado{
    float: right;
    display:flexbox;
}

.botão img{
    width: 35px;
    height: 25px;
    margin-top: 5px;
}

.bloco2{
    text-align: center;
}

